
/* font-family: 'Bangers', cursive;
font-family: 'Iceland', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Header {
  background-color:gold;
  height: 110px;
}

header h1 {
  font-family: 'Libre Barcode 128 Text', cursive;
  margin: 7px;
  font-size: 45px;
  margin-left: 40px;
}

nav {
  margin: 7px 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 7px 0;
  justify-content: flex-end;
}

nav ul li a {
  padding: 10px 15px;
  font-family: 'Iceland', cursive;
  font-weight: lighter;
  font-size: 1.55vw;
  color: darkslategrey;
  /* text-shadow: 0 0 10px rgba(0,0,0,0.5); */
  text-decoration: none;
}

nav ul li a:hover {
  background: darkslategrey;
  color: goldenrod;
  text-shadow: none;
  /* border-radius: 100% 0% 100% 0% / 64% 36% 64% 36%; */
  border-radius:0% 100% 0% 100% / 100% 0% 100% 0% 
}

.logo-list{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background: gold;
  padding: 20px;
  position: sticky;
}


.logo {
  max-width: 90px;
  height: 50px;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


h2 {
  font-family: 'Press Start 2P', cursive; 
  margin-top: 40px;
  color: khaki;
  text-align: center;
  font-size: 50px;
}


.about-content p {
  font-family: 'Orbitron', sans-serif;
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  color: ghostwhite;
}

.me {
  border-radius: 1000px;
  background-color: khaki;
  height: 55px;
  margin-right: 10px;
}

/* #avatar-me{
  display: none;
} */

#skills-list {
  font-family: 'Orbitron', sans-serif;
  list-style: none;
  text-align: center;
  color: sandybrown;
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            
  margin-bottom: 30px;
}

h3 {
  font-family: 'Iceland', cursive;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  text-underline-offset: none;
  color:gainsboro
}

#cv h3{
  color: lightcoral;
}

#cv:link{
  text-decoration: none !important;

}