/* font-family: 'Bangers', cursive;
font-family: 'Iceland', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive; */

:root {
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Header {
  background-color: gold;
  height: 110px;
}

header h1 {
  font-family: "Libre Barcode 128 Text", cursive;
  margin: 7px;
  font-size: 45px;
  margin-left: 40px;
}

nav {
  margin: 7px 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 7px 0;
  justify-content: flex-end;
}

nav ul li a {
  padding: 10px 15px;
  font-family: "Iceland", cursive;
  font-weight: lighter;
  font-size: 1.55vw;
  color: darkslategrey;
  /* text-shadow: 0 0 10px rgba(0,0,0,0.5); */
  text-decoration: none;
}

nav ul li a:hover {
  background: darkslategrey;
  color: goldenrod;
  text-shadow: none;
  /* border-radius: 100% 0% 100% 0% / 64% 36% 64% 36%; */
  border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
}

.logo-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background: gold;
  padding: 20px;
  position: sticky;
}

.logo {
  max-width: 90px;
  height: 50px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h2 {
  font-family: "Press Start 2P", cursive;
  margin-top: 40px;
  color: khaki;
  text-align: center;
  font-size: 50px;
}

.about-content p {
  font-family: "Orbitron", sans-serif;
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  color: ghostwhite;
}

.me {
  border-radius: 1000px;
  background-color: khaki;
  height: 55px;
  margin-right: 10px;
}

#skills-list,
label {
  font-family: "Orbitron", sans-serif;
  list-style: none;
  text-align: center;
  color: sandybrown;
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.0rem;
  margin-top: 20px;
}

h3 {
  font-family: "Iceland", cursive;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  text-underline-offset: none;
  color: gainsboro;
}

#cv h3 {
  color: lightcoral;
}

#cv:link {
  text-decoration: none !important;
}

button {
  font-size: 25px;
  text-decoration: none !important;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: goldenrod;
  font-family: "Iceland";
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid slategray;
  outline: none;
  border-radius: 10px;
  transition: box-shadow 0.2s;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 600px;
}

input:focus {
  border: 1px solid slategray;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid cornsilk;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

#contact-form {
  width: 40%;
  margin-left: 33%;
  margin-right: 33%;
}

#contact {
  justify-content: center;
}

.projects {
  min-width: 48%;
  padding: 1%;
}

.projects img {
  height: 120px;
  width: auto;
  transition: transform 0.2s;
  border-radius: 15px;
  border-style: inset;
  border-color: goldenrod;
}

.projects img:hover {
  transform: scale(1.5);
}

#projectGrp {
  display: flex;
  max-width: 100%;
  max-height: 90%;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1%;
  padding-bottom: 1%;
  margin-right: 100px;
}

.navActive {
  color: var(--secondary);
}

.projectBtn {
  margin-top: 3px;
  font-size: 15px;
}

.projName {
  font-family: 'Bangers', cursive;
  color:goldenrod;
  font-size: 18px;
}

.projDesc {
  font-family: 'Orbitron', sans-serif;
  color:honeydew;
  font-weight: bold;
  font-size: 12px;
}

#portfolio {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 100px;
}